<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homemodule">

    <application
        android:name="debug.MyApplication"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher">
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".test.activity.MvpTestActivity"></activity>
        <activity android:name=".test.activity.ToolbarActivity"></activity>
    </application>
</manifest>
